.searchIcon {
  /* width: 100%; */
  position: absolute;
  left: 67%;
  top: 11px;
  opacity: 0.7;
}
.ipField {
  position: relative;
}
.datas {
  background-color: #e9e8e8;
  height: 150px;
  margin: 0px 92px;
  overflow: hidden;
  overflow-y: scroll;
}
.datas::-webkit-scrollbar {
  display: none;
}
.iterates {
  margin: 5px 0;
  display: flex;
  cursor: pointer;
}
.iterates:hover {
  background-color: #f3f1f1;
}
